@{
    ViewData["Title"] = "Description of URL Shortener Alghorithm";
}

<a asp-action="changeabouttext" class="btn btn-info">Change Text</a>

<br />
<br />
<br />

Цей код на ASP.NET створює сервіс скорочення URL-адрес. Коли клієнт надсилає POST-запит 
до "/shorten", він перевіряє надану URL-адресу на валідність і генерує унікальний короткий 
код. Якщо надано токен аутентифікації, він витягує з нього ім'я створювача. Потім він зберігає 
початкову URL-адресу, коротку URL-адресу, інформацію про створювача та інші дані в базі 
даних. CORS налаштований так, щоб дозволяти запити з будь-якого походження, методу або
заголовка. Алгоритм скорочення генерує унікальний код за допомогою заздалегідь 
визначеного набору символів, забезпечуючи унікальність за допомогою перевірки існуючих кодів в базі даних.
